{% extends 'base.html.twig' %}

{% block body %}

{{parent()}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="cajaTituloMisDocumentos">
                    <h1 class="centradoTextoMisDocumentos">Mis Documentos</h1>
                </div>
                <div id="directorios" style="text-align: center; margin-top: 30px">
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}
