#login_enviar {
    background-color: #041E42 !important;
}

.form-control:focus {
    border-color: #041E42 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
